* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(pic1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock {
    text-align: center;
    font-size: 6.5rem;
    font-size: bold;
    color: white;
    backdrop-filter: blur(8px);
    width: 100%;


}